@import "variables";
@import "mixins";

.container {
  width: 100%;
  min-height: $min-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bodyBgColor;
}

.errorText {
  color: $textColor;
  font-size: $normal-font-size;
  margin-top: 100px;
}

.title {
  opacity: 1;
  width: 100%;
  color: $textColor;
  font-size: $title-font-size;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
  text-align: left;
  padding: 19px 14px;
  @include xl {
    padding: {
      left: calc((100% - 1168px) / 2);
    }
  }
}
